<footer class="footer">
  <div class="footer-nav">
    <div class="footer-nav-left">
      <h3 class="title">{{ site.title }}</h3>
      <h5 class="description">{{ site.description }}</h5>
    </div>
    <div class="footer-nav-right">
      <div class="user-row">
        <div class="twitter-icon user-item">{% include icon-twitter.html username=site.twitter_username %}</div>
        <h3 class="user-item username"><a href="//twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a></h3>
      </div>
      <h5 class="user-email">{{ site.email }}</h5>
    </div>
  </div>

</footer>
