<header class="header">

	<h1 class="logo">
    <a class="logo-text" href="{{ site.baseurl }}/">
      {{ site.title }}
    </a>
  </h1>

  <nav class="site-nav">

    <div class="header-nav">
      <ul class="nav-list">
        <li class="nav-element">
          <h3>
            <a class="page-link" href="{{ '/' | prepend: site.baseurl }}">
              news
            </a>
          </h3>
        </li >
        {% for my_page in site.pages | sort %}
          {% if my_page.title and my_page.nav %}
      		  <li class="nav-element">
							<h3>
	      			  <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">
	      				  {{ my_page.title }}
	      			  </a>
							</h3>
      		  </li >
          {% endif %}
        {% endfor %}
      </ul>
    </div>

  </nav>

</header>
