html {
  font-family: $base-sans-font;

  a {
    text-decoration: none;
    color: $base-font-color;

    &:hover {
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
      color: $base-font-color;
    }

  }

}


/**
 * Site wrapper
 */
.canvas {
  margin: 50px auto;
  max-width: 682px;
}


/**
 * Site footer
 */
.footer {
  margin-top: 50px;
  border-top: 1px solid $border-color;
  height: $footer-box-height;
  display: flex;
  flex-direction: row;

  .footer-nav {

    display: flex;
    max-height: $footer-box-height / 2;
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-around;
    width: 100%;
    flex-grow: 1;

    @media (max-width: $small-screen-width) {
      text-align: center;
      justify-content: center;
      flex-direction: column;
    }

    h3 {
      margin-bottom: 15px;
      letter-spacing: 8px;
      margin-right: -8px;
      @media (max-width: $small-screen-width) {
        margin-bottom: 7px;
      }
    }

    .footer-nav-left {
      .title, .description {
        text-align: left;
        @media (max-width: $small-screen-width) {
          text-align: center;
        }
      }
      align-self: flex-start;
      @media (max-width: $small-screen-width) {
        align-self: center;
      }
      flex-grow: 1;
    }

    .footer-nav-right {
      .user-item, .user-email {
        text-align: right;
        align-self: flex-start;
        justify-content: flex-end;
      }

      .user-item + .user-item {
        margin-left: 13px;
      }

      @media (max-width: $small-screen-width) {
        margin-top: 20px;
        justify-content: center;
        text-align: center;
        align-self: center;
      }
      flex-grow: 1;

      .user-row {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: baseline;
        align-content: flex-start;

        .github-icon, .twitter-icon, h3 {
          align-self: flex-start;
        }
      }

    }

  }

}


/**
 * Site header
 */
.header {
  min-height: 56px;
  line-height: 1.6em;
  text-align: center;

  .logo {
    margin-bottom: 25px;
  }

  .header-nav {
    max-height: 45px;
    width: 100%;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 9px 0;
    margin: 25px 0 30px 0;
  }

  .nav-list {
    margin: 0 auto;

    .nav-element + .nav-element {
      margin-left: 60px;
    }

    .nav-element {
      display: inline-block;
    }

  }

}
