---
layout: default
title: libraries
nav: false
permalink: /libraries/
---

<div class="blog">

  {% for post in site.posts %}
    {% if post.libpost %}
      <div class="blog-item">
        {% if post.image %}
          <a href="{{ post.link }}"><img class="long-image" src="{{ post.image }}" /></a>
        {% endif %}

        <h2 class=post-title>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <h3 class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</h3>

        <div class="post-content" itemprop="articleBody">
          {{ post.excerpt }}
        </div>
      </div>
    {% endif %}
  {% endfor %}

</div>
